body {
  font-family: arial;
}

/* Central content */

.container {
  padding-top: 150px;
  width: 584px;
  margin: 0 auto;
}

#logo {
  background-image: url('logo.png');
  background-size: 272px auto;
  background-repeat: no-repeat;

  width:280px;
  height: 92px;

  display: table-cell;
  text-align: right;
  vertical-align: bottom;
}

#country {
  color: #4285F4;
}

#search-box {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid #D9D9D9;
  padding: 0 10px;
}

input#search-box:focus {
  border-color: #4D90FE;
  outline: none;
}

#button-container {
  margin-top: 30px;
}

input[type="submit"] {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  color: #757575;
  font-size: 13px;
  font-weight: bold;
  min-width: 54px;
  padding: 7px 16px;
  margin: 0 2px;
}

input[type="submit"]:hover {
  border-color: #C6C6C6;
  background-color: #F8F8F8;
  color: #222;
}

/* Nav bar */

nav > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  float: right;
  height: 30px;
}

nav > ul > li {
  float: left;
  margin: 0 10px;
  font-size: 13px;
}

#user {
  opacity: 0.55;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#apps, #notifications {
  background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
  background-size: 528px 68px;
}

#apps {
  width: 30px;
  height: 30px;
  background-position: -132px -38px;
  opacity: 0.55;
}

#notifications {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.55);
  background-position: -194px -21px;
  border-radius: 50%;
}

#user-menu {
  display: flex;
  align-items: center;
  background-color: #C2185B;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

#user-initial {
  width: 100%;
  text-align: center;
  color: #FFF;
}